<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Terms</key>
	<dict>
		<key>cipher</key>
		<dict>
			<key>Definition</key>
			<string>A secret or disguised way of writing; a code.</string>
		</dict>
		<key>ciphertext</key>
		<dict>
			<key>Definition</key>
			<string>A coded message; the scrambled result of the original message.</string>
		</dict>
		<key>decrypt</key>
		<dict>
			<key>Definition</key>
			<string>To make a coded or unclear message intelligible.</string>
		</dict>
		<key>encrypt</key>
		<dict>
			<key>Definition</key>
			<string>The process of converting information or data into a code, especially to prevent unauthorized access.</string>
		</dict>
		<key>iterate</key>
		<dict>
			<key>Definition</key>
			<string>To perform an action repeatedly.</string>
		</dict>
	</dict>
</dict>
</plist>
